<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Add Appointment</title>
</head>
<body class="container">
	<hr>
	<h1>Book a Appointment</h1>
	<br>
	<form method="post" th:action="@{/appointments}"
		th:object="${appointment}">
		<p class="form-group">
			<label>Date and Time:</label> <input type="datetime-local"
				class="form-control" th:field="*{appointmentDateTime}" required>
		</p>
		<p class="form-group">
			<label>Customer:</label> <select th:field="*{customer}"
				class="form-control" required>
				<option value="">Select a customer</option>
				<th:block th:each="customer : ${allCustomers}">
					<option th:value="${customer.id}" th:text="${customer.name}"></option>
				</th:block>
			</select>
		</p>

		<!-- <div class="form-group">
			<label for="carMake">Car Make:</label> 
			<input type="text" class="form-control"
				id="carMake" name="carMake" th:field="*{carMake}" required>
		</div> -->

		<div class="form-group">
			<label for="carMake">Car Make:</label> <select th:field="*{carMake}"
				class="form-control">
				<option value="">Select a car make:</option>
				<option th:each="make : ${carMakes}" th:value="${make}"
					th:text="${make}"></option>
			</select>
		</div>

		<!-- <div class="form-group">
			<label for="carModel">Car Model:</label> <input type="text"
				id="carModel" class="form-control" name="carModel" th:field="*{carModel}" required>
		</div> -->

		<div class="form-group">
			<label for="carMake">Car Model:</label> <select
				th:field="*{carModel}" class="form-control">
				<option value="">Select a car model...</option>
				<option th:each="model : ${carModels}" th:value="${model}"
					th:text="${model.name()} + ' (' + ${model.getMake().name()} + ')'"></option>
			</select>
		</div>

		<!-- <div class="form-group">
			<label for="yearMade">Year:</label> <input type="number"
				id="yearMade" class="form-control" name="yearMade" th:field="*{yearMade}" required>
		</div> -->

		<div class="form-group">
			<label for="yearMade">Year:</label> <select th:field="*{yearMade}"
				class="form-control">
				<option value="">Select a year...</option>
				<option th:each="year : ${years}" th:value="${year}"
					th:text="${year}"></option>
			</select>
		</div>

		<!-- <div class="form-group">
			<label>Service Type:</label> <input type="text" class="form-control"
				th:field="*{serviceType}" required>
		</div> -->

		<div class="form-group">
			<label>Service Type:</label> <select th:field="*{serviceType}"
				class="form-control">
				<option value="">Select a service...</option>
				<option th:each="service : ${services}" th:value="${service}"
					th:text="${service.getName()}"></option>
			</select>
		</div>

		<p class="form-group">
			<label>Additional Details:</label>
			<textarea th:field="*{additionalDetails}" class="form-control"></textarea>
		</p>
		<div id="smart-button-container">
			<div style="text-align: center;">
				<div id="paypal-button-container"></div>
			</div>
		</div>
		<script
			src="https://www.paypal.com/sdk/js?client-id=AYqhZHK_6GcUbN0rO1wkBR19vbHm6lFIWCF-AIp71Vi6a1yOgL4Dzr9WxbLrz1ute6S2k8U_tQa1CdRC&enable-funding=venmo&currency=CAD"
			data-sdk-integration-source="button-factory"></script>
		<script>
			function initPayPalButton() {
				paypal
						.Buttons(
								{
									style : {
										shape : 'rect',
										color : 'gold',
										layout : 'vertical',
										label : 'paypal',

									},

									createOrder : function(data, actions) {
										return actions.order
												.create({
													purchase_units : [ {
														"amount" : {
															"currency_code" : "CAD",
															"value" : 1.13,
															"breakdown" : {
																"item_total" : {
																	"currency_code" : "CAD",
																	"value" : 1
																},
																"shipping" : {
																	"currency_code" : "CAD",
																	"value" : 0
																},
																"tax_total" : {
																	"currency_code" : "CAD",
																	"value" : 0.13
																}
															}
														}
													} ]
												});
									},

									onApprove : function(data, actions) {
										return actions.order
												.capture()
												.then(
														function(orderData) {

															// Full available details
															console
																	.log(
																			'Capture result',
																			orderData,
																			JSON
																					.stringify(
																							orderData,
																							null,
																							2));

															// Show a success message within this page, e.g.
															const element = document
																	.getElementById('paypal-button-container');
															element.innerHTML = '';
															element.innerHTML = '<h3>Thank you for your payment!</h3>';

															// Or go to another URL:  actions.redirect('thank_you.html');

														});
									},

									onError : function(err) {
										console.log(err);
									}
								}).render('#paypal-button-container');
			}
			initPayPalButton();
		</script>

		<!-- <a href="/checkout" class="btn btn-primary">Checkout and Pay via Pay Pal</a>
		<a href="/charge" class="btn btn-primary">Check and Pay via Stripe</a> -->

	</form>
	<hr>
</body>
</html>
